/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}

/* Custom Site Styles */

/*
  Use the text-size-adjust property
  to prevent automatically inflating
  text on orientation changes
  (portrait to landscape on a phone,
  for example):
*/

html {
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ie-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

b,
strong {
  font-weight: bold;
}
cite,
em,
i {
  font-style: italic;
}

/* HTML5 Elements as Blocks; Cribbed from HTML5 Boilerplate */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

html {
  font-family:'Depot New W00', Helvetica, Arial, sans-serif;
  padding: 24px;
}

body {
  font-size: 19px;
  line-height: 24px;
}
p {
  padding-bottom: 24px;
}
li {
  padding-bottom: 12px;
}
ol,
ul {
  margin-left: 24px;
  padding-bottom: 12px;
}
ul > li {
  list-style-type: square;
}
ol > li {
  list-style-type: decimal;
}
h1 {
  font-size: 33.761px;
  line-height: 36px;
  padding-bottom: 12px;
}
h2 {
  font-size: 25.537px;
  line-height: 24px;
  padding-bottom: 12px;
}
h3,
h4 {
  text-transform: uppercase;
  font-weight: bold;
  padding-top: 12px;
  padding-bottom: 12px;
}
h4 {
  text-transform: none;
}

